body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yZhWZV2/animated-lines-on-gray-background-element_4yuscfqex__F0000.png");
    background-repeat: no-repeat;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	background-size: 100%;
	background-position: absolute;
}




.boks2 {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	height: 100%;
	flex-wrap: nowrap;
	margin: auto;
}

.boks2 div {
	background-color: #EFF1E5;
	margin: 5px;
	width: 100%;
}

